![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.txt***.\
Salve os dados em uma variável de nome *users*.

In [1]:
import pandas as pd

In [8]:
users = pd.read_csv('datasets/users_dataset.csv', sep='|')

#### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [19]:
users_grouped = users.groupby('occupation')['age'].agg('mean')
users_grouped.head()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
Name: age, dtype: float64

#### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [23]:
users_grouped = users.groupby('occupation')['age'].agg(['min', 'max'])
users_grouped.head()

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70

#### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [27]:
users_grouped = users.groupby(['occupation', 'gender'])['age'].agg('mean')
users_grouped.head()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
Name: age, dtype: float64

#### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [36]:
users_grouped = users.groupby(['occupation', 'gender'])['age'].apply('count')

porcentagem = users_grouped.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
porcentagem.head()

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
Name: age, dtype: float64

**Parabéns! Você chegou ao fim!**